<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Root</title>
</head>
<body>
    <div th:each="post:${posts}">
        <pre th:text="${post.title}"></pre>
        <pre th:text="${'          Categoria: ' +post.category.name}"></pre>
        <pre th:text="${'          ' +post.text}"></pre>
        <pre th:text="${'          Likes: ' + post.likes}"></pre>
        <pre th:text="${'          ' + post.date}"></pre>
        <pre th:text="${'          ' + post.user.name}"></pre>
        <pre>          Comentarios: </pre>
        <div th:each="comment : ${post.comments}">
            <pre th:text="${'                    ' + comment.text}"></pre>
            <pre th:text="${'                    ' + comment.date}"></pre>
            <pre th:text="${'                    likes: ' + comment.likes}"></pre>
        </div>
    </div>


</body>
</html>